<script>
  import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();
	function handle_dislike() {
		dispatch('dislike', {
			text: 'Hello!'
		});
	}
  function start_grading() {
    document.querySelector("button[button-type=start]").style.display = "none";
		dispatch('start', {
			text: 'Hello!'
		});
	}
</script>

<footer>
  <nav>
    <ul>
      <li><button on:click={handle_dislike}>Dislike</button></li>
      <li><button button-type="start" on:click={start_grading}>Start!</button></li>
      <li>Favorieten</li>
      <li>Like</li>
    </ul>    
  </nav>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
  }

  li {
    margin: 0;
    padding: 10px;  
  }
</style>