<script>
	import { onDestroy, setContext } from 'svelte';
	import { mapbox, key } from '../mapbox.js';

	setContext(key, {
		getMap: () => map,
	});

	export let lat;
	export let lon;
	export let zoom;

	let container;
	let map;

	function load() {
		map = new mapbox.Map({
			container,
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [lon, lat],
			zoom,
		});
    

    // Add geolocate control to the map.
    map.addControl(
      new mapbox.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true
        },
        // When active the map will receive updates to the device's location as it changes.
        trackUserLocation: true,
        // Draw an arrow next to the location dot to indicate which direction the device is heading.
        showUserHeading: true
      })
    );

    map.on('click', async (e)  => {
      console.log(map.getBounds());
      let bounds = map.getBounds();
      console.log(`A click event has occurred at ${e.lngLat}`);
      const response = await fetch('http://127.0.0.1:5000/api/search', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ bbox: [[ bounds._ne.lng, bounds._ne.lat],[ bounds._sw.lng, bounds._sw.lat]]})
      })
      response.json().then(data => {
          let results = document.getElementById("rest");
          for(let r of data) {
              results.innerHTML += "<li>"+JSON.stringify(r, null, 4)+"</li>";
          }
      });
    });

    // Example trigger of a BoxZoomEvent of type "boxzoomstart"
    map.on('boxzoomstart', (e) => {
      console.log(e)
      console.log('event type:', e.type);
      // event type: boxzoomstart
    });
	}

	onDestroy(() => {
		if (map) map.remove();
	});
</script>

<!-- this special element will be explained in a later section -->
<svelte:head>
	<link
		rel="stylesheet"
		href="https://unpkg.com/mapbox-gl/dist/mapbox-gl.css"
		on:load={load}
	/>
</svelte:head>

<div bind:this={container}>
	{#if map}
		<slot />
	{/if}
</div>

<style>
	div {
		width: 100%;
		height: 100%;
	}
</style>
