<script>
  import logo from './assets/svelte.png'
  import ButtonNavigation from './lib/ButtonNavigation.svelte'
  import Map from './lib/Map.svelte'

  // TODO: Fetch restaurants from the backend.
  let restaurants = [
    {
      "name": "Pizza hut",
      "adres": "Van Galenstraat 123",
      "about": "TODO?",
      "coordinates": [52.2, 6.88],
      "score": null,
      "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Pizza_Hut_1967-1999_logo.svg/274px-Pizza_Hut_1967-1999_logo.svg.png",
      "interior_photos": [],
      "reviews": [],
    },
    {
      "name": "happy Italy",
      "adres": "Van Galenstraat 321",
      "about": "TODO?",
      "coordinates": [52.2, 6.88],
      "score": null,
      "image_url": "https://static.thuisbezorgd.nl/images/chains/nl/happyitaly/logo_465x320.png",
      "interior_photos": [],
      "reviews": [],
    },
  ]
  $: unscored_restaurants = restaurants.filter(r => r.score == null);
  let current_index = 0

  function handle_dislike(payload) {
    restaurants[current_index].score = "dislike"
    current_index += 1
  }

  function start_grading(payload) {
    let mapElement = document.getElementById("restaurantMap");
    mapElement.classList.add("hidden")
    mapElement.classList.remove("map-placeholder")
    document.getElementById("numberOfRestaurants").classList.add("hidden")

    let imageElement = document.getElementById("restaurantImage")
    imageElement.classList.remove("hidden")

  }

</script>

<main>
  <h1>Dinner tinder</h1>

  <p id="numberOfRestaurants">
    Er zijn {unscored_restaurants.length} restaurant{unscored_restaurants.length == 1 ? '':'s'} beschikbaar
  </p>

  <div class="image-placeholder">
    <div id="restaurantMap" class="map-placeholder">
      <Map lat={52.2182788} lon={6.8908478} zoom={12}>
      </Map>
    </div>  
    <div id="restaurantImage" class="hidden">
      <h2 class="restaurant-name">{restaurants[current_index].name}</h2>
      <img src={restaurants[current_index].image_url} alt="{restaurants[current_index].name} logo" class="swipeable-image" />
    </div>
  </div>

<!-- 
  <div class="image-placeholder">
    <img src={logo} alt="Svelte Logo" />
  </div>
 -->

  <ButtonNavigation
    on:dislike={handle_dislike}
    on:start={start_grading}
  />

</main>

<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }

  .map-placeholder {
    width: 300px;
    height: 300px;
  }

  .hidden {
    display: none;
  }

  .image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 16rem;
    width: 16rem;
  }

  img.swipeable-image {
    touch-action: pan-x;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.1;
    margin: 2rem auto;
    max-width: 14rem;
  }

  h2 {
    font-family: "Comic Sans", fantasy;
    font-size: xx-large;
    color: white;
    background-color: purple;
    line-height: 3;
  }
</style>
